<nav class="border flex flex-row w-full justify-center md:justify-between">
    <div class="hidden md:block">
        <img src="#" alt="Logo" />
    </div>
    <div class="flex flex-row justify-around space-x-3">
        <div>
            <a href="/#">Home</a>
        </div>
        <div>
            <a href="/team">Team</a>
        </div>
        <div>
            <a href="/events">Events</a>
        </div>
    </div>
</nav>
